
#rera-body {
    background-color: rgba(214, 206, 186,1)

}

#hd-contain {
  -webkit-box-shadow: 0 7px 12px 0 rgba(125,123,125,0.56);
  -moz-box-shadow: 0 7px 12px 0 rgba(125,123,125,0.56);
  box-shadow: 0 7px 12px 0 rgba(125,123,125,0.56);
}

div#hd-contain.container {
    min-width: 21.5em;
    min-height: 85px;
}

a.navbar-brand {

}

.row, .col-md-8, .col-md-offset-2 {
    box-sizing: inherit;
    border: none;
}

div#app-navbar-collapse.collapse.navbar-collapse {
    min-height: 85px;
}

.app-desc .app-title {
    position: relative;
    font-weight: bold;
    font-size: 1.2em;
    text-align: center;
}

.app-desc {
    top: -20px;
    color: rgba(48,151,209,1);
    font-size: 1.2em;
    border-bottom: 2px solid rgba(48,151,209,1);
}

.app-title {
    top: 20px;
    right: 38.632478632479%;
    color: rgba(0,0,0,1);
    font-size: 1.2em;
}

a#admin-reg, a#user-reg {
    position: relative;
    top: 17px;
    right: 15px;
    min-height: 50px;
    border-radius: 4px;
    color: rgba(255,255,255,1);
    background-color: rgba(48,151,209,1);
}

ul#title-header.nav.navbar-nav {
    position: relative;
    left: 22.632478632479%;
    display: flex;
    align-items: center;
    align-self: center;
    justify-content: center;
    margin: 0 auto;
    min-width: 500px;
    min-height: 85px;
    text-align: center;
}

svg#mlh-logo {
    position: relative;
    top: -35px;
}

.panel.noborder {
    border: none;
    box-shadow: none;
}

.panel-default.noborder {
    border: none;
    box-shadow: none;
}

.panel, .panel-default {
    background: rgba(0, 0, 0, 0);
}

.panel-heading {
  border-radius: 4px 4px 0 0;
  -moz-border-radius: 4px 4px 0 0;
  -webkit-border-radius: 4px 4px 0 0;
  border: 1px solid rgba(255,255,255,1);
}

.panel-body {
  background-color: rgba(255, 255, 255, 1);
  border-radius: 0 0 4px 4px;
  -moz-border-radius: 0 0 4px 4px;
  -webkit-border-radius: 0 0 4px 4px;
  border: 1px solid rgba(255,255,255,1);
  -webkit-box-shadow: 0 7px 12px 0 rgba(125,123,125,0.56);
  -moz-box-shadow: 0 7px 12px 0 rgba(125,123,125,0.56);
  box-shadow: 0 7px 12px 0 rgba(125,123,125,0.56);
  margin-bottom: 40px;
}

p.help-desk, p.company-info {
    position: relative;
    margin: 0 auto;
    text-align: center;
    font-weight: bold;
}

div.panel.panel-default p.help-desk {
    font-size: 1.2em;
    color: rgba(48,151,209,1);
}
/** Table Example CSS Styles **/

table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}
td, th {
    border: 1px solid rgba(214,206,186,1);
    text-align: left;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: rgba(214,206,186,1);
    border-top: 1px  solid rgba(48,151,209,1);
    border-bottom: 1px  solid rgba(48,151,209,1);
}

label {
    position: relative;
    left: 20px;
}

select {
    position: relative;
    max-width: 250px;
    left: 9px;
}
.help-desk, #app-help, #register-help, #login-help {
    position: relative;
    font-size: 1em;
    font-weight: bold;
}
button#two-button.btn.btn-primary,
button#three-button.btn.btn-primary,
button#four-button.btn.btn-primary,
button#request-button.btn.btn-primary {
    position: relative;
    left: 9px;
    width: 218px;
}